@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Yeon+Sung&display=swap');


html{
    scroll-behavior: smooth;
    
}
body{
    min-height: 2000px;
    background-color: rgb(226, 194, 168);
    
}
header{
    background-color: rgb(226, 194, 168);
    height: 100px;
    top: 0;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
    
    
    
    
    
}
#header-name{
    
    font-family: 'Righteous';
    font-size: 75px;
    font-weight:bold;
    border-radius: 4px;
    padding:5px
    
}
.header-links{
    text-decoration: none;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;font-size: 20px;

}
.header-links:hover{
    color:white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    transition:  100ms ease-in;
}
#about-me{
    border: 2px solid black;
    border-radius: 4px ;
    margin: 1em;
    padding: 1em;
    top:1em;
    scroll-margin-block-start: 100px;
    
}
h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
}
#skills{
    border: 2px solid black;
    border-radius: 4px ;
    margin: 1em;
    padding: 1em;
    top:1em;
    scroll-margin-block-start: 105px;
    

    
}
#skill-pics{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    padding: 1em 20%;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#projects{
    border: 2px solid black;
    border-radius: 4px ;
    margin: 1em;
    padding: 1em;
    top:1em;
    scroll-margin-block-start: 105px;
}
.project-video{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
}
.project-links{
    text-decoration: none;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin: 5px;
    

}
.project-links:hover{
    color:white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    transition:  100ms ease-in;
}
#contact{
    border: 2px solid black;
    border-radius: 4px ;
    margin: 1em;
    padding: 1em;
    top:1em;
    scroll-margin-block-start: 105px;
}
#contact-pics{
    display: flex;
    justify-content: space-evenly;

}
.contact-divs{
    display: flex;
    align-items: center;
}
#contact-linkdin{
    text-decoration: none;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin: 5px;
    width: 150px
}
#contact-linkdin:hover{
    color:white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    transition:  100ms ease-in;
}
#contact-email{
    text-decoration: none;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin: 5px;
    width: 150px
}
.projects-div {
    display: flex;
    justify-content: space-evenly;  
}
img{
    width: 100px
}

